.my-profile-header {
    background-color: #181818;
    padding: 20px 0px 10px 35px;
    color: #fff;
    margin: 0px;
}

.my-profile > hr {
    border: 0;
    height: 1px;
    background-color: #5A5A5A;
    margin: 0px;
}