.main-content-container {
    padding-left: 50px;
    padding-right: 50px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: #181818;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.movies-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
}

.card-container {
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
    /* background-color: #232323;
    border-radius: 9px;
    padding: 9px 9px; */
}

.book-data {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 4px;
}

.title {
    margin: 0px;
    letter-spacing: 1px;
    font-size: 15px;
}

.author {
    margin: 0px;
    font-size: 9px;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

.book-image {
    width: 100px;
    border-radius: 4px;
    margin: auto;
    display: block;
}