.main-content-container {
    padding-left: 50px;
    padding-right: 50px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: #181818;
}

.books-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
}