.header-container {
    background-color: #181818;
    grid-area: 1 / 2 / 2 / 3;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-logo {
    margin: 0px;
    padding: 20px 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-family: 'Poppins';
}

hr {
    border-top: none;
    border-right: none;
    border-left: none;
    color: #FFFFFF;
}