.navbar-container {
    padding: 20px 20px;
    background-color: #121212;
    color: #FFFFFF;
    grid-area: 1 / 1 / 4 / 2;
}

.navbar-line {
    border-top: none;
    border-right: none;
    border-left: none;
}

.nav-list {
    margin-top: 30px;
}

.user {
    font-family: 'Playfair Display', serif;
}

ul {
    padding: 0px;
}
 
li {
    list-style: none;
}

.nav-item {
    margin: 0px;
    cursor: pointer;
    margin-bottom: 17px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.nav-item:hover {
    color: #555;
}